.header{
    display: flex;
    color: black;
    margin: 20px;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    border: solid 2px;
}
.header a{
    list-style: none;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family: Open sans-serif;
    Font-Size: 12px;
    Line-Height: 20px; 
}
.lista{
    display: flex;
    justify-content: center;
}
.lista ul{
    display: flex;
    flex-direction: row;
    margin-top: -67px;
}
.lista ul li{
    padding: 20px;
    list-style: none;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    font-family: Gotham Book;
    justify-content: center;
}
.input1{
    display: flex;
    justify-content: flex-end;
    color:black;
    margin-top: -55px;
    Font-size: 12px;
    font-family: Open sans-serif;   
}
.input1 label{
    margin-right: 30px;
}